*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 0; */
}
.container{
    width: 26rem;
    height: 26rem;
    background-color:aliceblue;
    margin: 3rem auto;
    font-size: 0%;
}.black{
    width: 5rem;
    height: 5rem;
    display: inline-block;
    background-color: black;
}
.gray{
    width: 5rem;
    height: 5rem;
    display: inline-block;
    background-color: gray;
}