*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heart{
    width: 422px;
    height: 500px;
    margin: 5rem auto;
    /* font-size: 0%; */

}
.box{
    width: 40px;
    height: 40px;
    display: inline-block;
}
.pink{
    background-color: #ed4f91;
}
.withe{
    background-color: #ffffff;
}